.Testimonials{
    background-image: url(../Charger_Customs_Free_Psd_Template-assets/t.jpg);
    background-repeat: no-repeat;
    height: 800px;
    margin-top: 50px;
    text-align: center;

}
.Text{
    font-family: 'Playfair Display', serif; 
    font-style: italic;
    color: white;
    font-size: 30px;
    padding-top: 370px;
    padding-left: 100px;
}
.Name{
    color: white;
    font-family: 'Playfair Display', sans-serif;
    font-weight: 400;
    margin-top: 20px;
    font-size: 25px;
    padding-left: 300px;
}
