.Name{
    font-size: 76px;
     font-weight: 600;
    font-family: 'Playfair Display', serif; 
    text-align: center;  
}
.Projects{
    padding-top: 150px;
    
}
.firstcars{
    margin-top: 100px;
    display: inline-block;
}
.car1{
    width: 370px;
}

.car2{
    width: 400px;
    margin-left: 30px;
}

.car3{
    width: 457px;
    margin-left: 30px;
}

.car4{
    width: 370px;
    margin-left: 30px;
}


.car6{
    width: 385px;
    margin-left: 30px;
}
.car7{
    width: 480px;
    margin-left: 30px;

}
.car8{
    width: 385px;
    margin-left: 30px;
}
.car9{
    width: 275px;
    margin-left: 30px;
}
.car10,
.car11,
.car12,
.car13
{
    width: 400px;
    padding-left: 20px;
    padding-top: 20px;
}
.button{
   
  width: 148px;
  height: 36px;
  font-family: 'Kulim Park', sans-serif;
  font-size: 10px;
  margin-top: 50px;
  color: black;
  border: 1px solid #e3a062;
  text-align: center;
  outline: none;
  text-decoration: none;
  background-color: #fff;
  
}
.button:hover{
    background-color:#e3a062;
    color: white;
}
.buttons{
    text-align: center;
}
a{
    text-decoration: none;
    color: #000;
}
